.myOrdersPage {
    width: 100vw;
    max-width: 100%;
    margin-top: 4.3rem;
    padding: 3rem;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  #myOrdersHeading {
    text-align: center;
    padding: 0.5vmax;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    transition: all 0.5s;
    background-color: rgb(44, 44, 44);
  }
  
  .myOrdersTable {
    background-color: white;
  }
  
  .myOrdersTable div {
    color: #1e1e27;
    border: none;
  }
  
  .myOrdersTable a {
    color: #1e1e27;
    transition: all 0.5s;
  }
  
  .myOrdersTable a:hover {
    color: #fe4c50;
  }
  
  .MuiDataGrid-columnHeader {
    background-color: #fe4c50;
  }
  
  .MuiDataGrid-columnHeader div {
    color: white;
    font-weight: 500 !important;
    font-size: 1rem !important;
  }
  
  .MuiDataGrid-iconSeparator {
    display: none !important;
  }

  .MuiIconButton-label {
    color: white;
    margin: 0.3rem;
  }

  .MuiDataGrid-root .MuiDataGrid-cell:focus {
    outline: none !important;
}
  
  @media screen and (min-width:600px) and (max-width: 950px) {
    .MuiDataGrid-root .MuiDataGrid-cell--textLeft {
       font-size: 1rem;
    }
  }
  
  @media screen and (max-width: 600px) {
    .myOrdersPage {
      padding: 0;
      height: 93vh;
    }
  
    #myOrdersHeading {
      font: 400 2.2vmax "Roboto";
      padding: 4vw;
    }
  
    .myOrdersTable div {
      font: 300 4vw "Roboto";
    }
  
    .MuiDataGrid-columnHeader {
      padding: 20px !important;
    }
  
    .MuiDataGrid-columnHeader div {
      font: 500 5vw "Roboto" !important;
    }
  }
  @media screen and (min-width:350px) and (max-width: 600px) {
    .myOrdersTable div {
      font: 300 3vw "Roboto";
    }
    .MuiDataGrid-columnHeader div {
      font: 500 4vw "Roboto" !important;
    }
  }