.orderDetailsPage {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin-top: 4.3rem;
  }

  .orderNumHeading{
    font-size: 1.4rem;
    color: #fe4c50;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
    justify-content: center;
  }
  
  .orderDetailsContainer {
    padding: 3rem 1rem 3rem 3rem;
  }
  
  .orderDetailsContainer > p {
    color: #1e1e27;
    font-weight: 600;
    font-size: 1.3rem;
    width: max-content;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-bottom: 3px solid #fe4c50;
  }
  
  .orderDetailsContainerBox,
  .orderDetailsCartItemsContainer {
    margin: 2vmax;
  }
  
  .orderDetailsContainerBox > div {
    display: flex;
    margin: 1vmax 0;
  }
  
  .orderDetailsContainerBox > div > p {
    color: #232530;
    font-weight: 500;
  }
  .orderDetailsContainerBox > div > span {
    margin: 0 1vmax;
    color: #51545f;
  }
  
  .orderDetailsCartItems > p {
    color: #1e1e27;
    font-weight: 600;
    font-size: 1.3rem;
    width: max-content;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-bottom: 3px solid #fe4c50;
  }
  
  .orderDetailsCartItems {
    padding: 3rem 3rem 3rem 1rem;
    width: 100%;
  }

  .orderDetailsCartItemsContainer {
    max-height: 20vmax;
    overflow-y: auto;
  }

  .orderDetailRow {
    margin-bottom: 1rem;
  }
  
  .orderDetailsCartItemsContainer > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
  }
  
  .orderDetailsCartItemsContainer > div > img {
    width: 3.5vmax;
    height: 3.5vmax;
  }
  
  .orderDetailsCartItemsContainer > div > a {
    color: #1e1e27;
    width: 60%;
    text-decoration: none;
  }
  
  .orderDetailsCartItemsContainer > div > span {
    color: #1e1e27;
    font-weight: 500;
  }
  
  
  @media screen and (max-width: 600px) {
    .orderDetailsContainer > p {
      font: 400 6vw "Roboto";
    }
    
    .orderDetailsContainerBox > div {
      margin: 6vw 0;
    }
  
    .orderDetailsContainerBox > div > p {
      font: 400 5vw "Roboto";
    }
    .orderDetailsContainerBox > div > span {
      font: 100 4vw "Roboto";
    }
  
    .orderDetailsCartItems > p {
      font: 400 6vw "Roboto";
    }
  
    .orderDetailsCartItemsContainer > div {
      font: 400 4vw "Roboto";
      margin: 4vw 0;
    }
  
    .orderDetailsCartItemsContainer > div > img {
      width: 10vw;
    }
  
    .orderDetailsCartItemsContainer > div > a {
      margin: 2vw;
      width: 30%;
      font-size: 1rem;
    }
  
    .orderDetailsCartItemsContainer > div > span {
      font: 100 4vw "Roboto";
    }
  }
  @media screen and (min-width: 400px) and (max-width:600px) {
    .orderDetailsContainer > p {
      font: 400 4vw "Roboto";
     }
     .orderDetailsContainerBox > div > p {
      font: 400 3vw "Roboto";
    }
    .orderDetailsContainerBox > div > span {
      font: 100 3vw "Roboto";
  }
  .orderDetailsCartItems > p {
    font: 400 4vw "Roboto";
}
.orderDetailsCartItemsContainer > div > span {
  font: 100 2vw "Roboto";
}
  }