.contactContainer {
    width: 100%;
    margin-top: calc(4rem + 2.3vmax);
    padding: 0rem 3vmax 3vmax 3vmax;
    background-color: white;
  }

  .contactContainer > div{
    display: flex;
  }
  
  .contactDiv{
    width: 50%;
    padding-right: 1rem;
  }

  .contactContainer > img{
    width: 100%;
    height: calc(12rem + 25vmax);
  }

  .contactTitle{
    margin-top: 2vmax;
    font-size: calc(1.2rem + 0.3vmax);
    font-weight: 500;
    color: #1e1e27;
  }

  .contactDetail{
    font-size: calc(1rem + 0.1vmax);
    color: #1e1e27;
    margin-top: 0.7rem;
  }

  .contactInfo{
    margin-top: calc(1rem + 0.5vmax);
  }

  .contactInfo > a{
    margin-top: 0.5rem;
    cursor: pointer;
    color: #1e1e27;
  }
  
  .mailBtn {
    text-decoration: none;
  }
  
  .mailBtn > button {
    color: #1e1e27;
    text-decoration: none;
    text-transform: none;
    font-size: 0.9rem;
    cursor: url("https://img.icons8.com/color/48/000000/edit--v2.png"), pointer;
    padding: 0rem;
  }

  .mailBtn > button:hover {
    color:  #fe4c50;
    background-color: white;
  }

  .followDetails > a > img{
    height: calc(1.2rem + 0.4vmax);
    width: calc(1.2rem + 0.4vmax);
    margin-top: 0.8rem;
    margin-right: 1.3rem;
  }

  .formDiv{
    width: 50%;
  }

  .formDiv > div{
    margin-bottom: 1rem;
  }

  .other > .form-floating{
    margin-bottom: 1rem;
  }

  .formTitle{
    margin-top: 2vmax;
    font-size: calc(1.2rem + 0.3vmax);
    font-weight: 500;
  }

  .name{
    display: flex;
  }

  .name > .form-floating{
    width: 50%;
  }

  .buttonDiv{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-right: 0rem;
  }

  .buttonDiv > button{
    border: none;
    background-color:#fe4c50;
    border-radius: 2px;
    color: white;
    padding: 0.5rem 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }

  .buttonDiv > button:hover{ 
    opacity: 80%;
  }

  @media (max-width: 800px) {
    .contactContainer{
      margin-top: calc(7.5rem + 1.5vmax);
    }
  }
  @media (max-width: 600px) {
    .contactContainer > img{
      height: calc(8rem + 15vmax);
    }
    .contactContainer > div {
      flex-direction: column;
    }
    .contactDiv {
      width: 100%;
    }
    .formDiv {
      margin-top: 1rem;
      width: 100%;
    }
  }

