body{
  background-color: #cfc1c1;
}
.navbarDiv{
   display: flex;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   position: fixed;
   top: 0;
   width: 100%;
   height: calc(3rem + 1.3vmax);
   background-color: white;
   padding-left: 1rem;
   padding-right: 1rem;
   z-index: 100;
}
.headerLogo{
  display: flex;
  align-items: center;
}
.headerLogo img{ 
  height: calc(3rem + 1.3vmax);
  width: auto;
}
.collapse ul {
  font-size: 1.2rem;
  margin-right: 1.2rem;
}
.none{
  display: none;
}
.navItem{
  list-style: none;
}
.navLink{
  color: #1e1e27;
  text-decoration: none;
  font-size: 1.1rem;
}
.navLink:hover{
  color: #fe4c50;
}
.navLink.active{
  color: #fe4c50; 
}
.navbarSiderOption{
  display: flex;
  margin-left: auto;
  padding-right: 1.2rem;
}
.navbarSiderOption ul{
  text-decoration: none;
  display: flex;
  height: calc(3rem + 1.3vmax);
}
.navbarSiderOption ul li{
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0rem calc(0.7rem + 0.3vmax);
}
.cartLogo{
  text-decoration: none;
  color: #1e1e27;
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.cartLogo:hover{
  color: #fe4c50;
}
.collapse ul li img{
  width: calc(1.2rem + 0.8vmax);
  height: calc(1.2rem + 0.8vmax);
  border-radius: 2rem;
}
.navbarTitle{
  color: #1e1e27;
  font-size: calc(0.9rem + 0.6vmax);
  text-decoration: none;
  font-weight: 700;
  margin-left: -0.7rem;
}
.navbarTitle span{
  color:  #fe4c50;
}
.speedDialIcon{
  height: calc(1.2rem + 0.8vmax);
  width: calc(1.2rem + 0.8vmax);
  display: flex;
  align-items: center;
  border-radius: 100%;
}
.dropdownMenu{
  position: absolute;
  top: calc(3rem + 1.3vmax);
  right: 1rem;
  background-color: white;
  width: 13rem;
  height: 0; /* Initially hide the dropdown */
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 100;
}
.showDropdown{
  height: 11rem;
}
.showDropdownAdmin{
  height: 15rem;
}
.dropdownMenu > button{
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
}
.dropdownItem{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1e1e27;
  padding: 1rem 1.2rem;
  font-size: calc(0.9rem + 0.3vmax);
}
.dropdownItem:hover{
  color: #fe4c50;
}
.dropdownItem:active{
  color: #fe4c50;
}
.dropDownImage{
  margin-right: 0.5rem;
}

@media (max-width:600px) {
  .headerLogo img{
    margin-left: -3vmax;
  }
  .cartLogo{
    margin-right: -4vmax;
  }
  .dropdownMenu{
    position: absolute;
    top: calc(2rem + 2.3vmax);
    right: 0;
    height: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
  .showDropdown, .showDropdownAdmin{
    height: 100vh;
  }
}