.PageNotFound {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  position: fixed;
  top: 0%;
  left: 0;
}
  .PageNotFound > svg {
    font-size: 4vmax;
    color: #fe4c50;
    margin: 1rem;
  }
  .PageNotFound > div { 
    font-size: 2vmax;
  }
  .PageNotFound > a {
    background-color: #fe4c50;
    color: white;
    font-weight: 500;
    border: none;
    padding: 0.5vmax 2vmax;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    margin: 2vmax;
  }
  
  @media screen and (max-width: 600px) {
    .PageNotFound > a {
      padding: 3vw 6vw;
      font: 400 4vw "Roboto";
      margin: 2vmax;
    }
  
    .PageNotFound > svg {
      font-size: 20vw;
    }
    .PageNotFound > p {
      margin: 2vmax;
      font-size: 5vw;
    }
  }
  