.dashboard {
    margin-top: 3rem;
    padding: 3rem;
    width: 100vw;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    z-index: 98;
  }
  
  .dashboardContainer {
    background-color: white;
  }
  
  .dashboardContainer > h1 {
    font-weight: 600;
    font-size: 1.5rem;
    border-bottom: 3px solid #fe4c50;
    width: max-content;
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    color: #1e1e27;
    text-transform: uppercase;
  }
  
  .dashboardSummary {
    margin: 2rem 0;
  }
  
  .dashboardSummary > div {
    display: flex;
    background-color: white;
    justify-content: center;
  }
  .dashboardSummary > div > p {
    color:#1e1e27;
    font-weight: 500;
    text-align: center;
    padding: 1rem 1.5rem;
    width: 100%;
    margin: 0 2rem;
  }
  .dashboardSummaryBox2 > a {
    color: #1e1e27;
    text-align: center;
    background-color: rgb(255, 233, 174);
    text-decoration: none;
    padding: 1.5rem;
    width: 10vmax;
    height: 10vmax;
    margin: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .dashboardSummaryBox2 > a:first-child {
    background-color: rgb(255, 110, 110);
    color: rgb(255, 255, 255);
    margin-bottom: 0.5rem;
  }
  
  .dashboardSummaryBox2 > a:last-child {
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    margin-bottom: 0.5rem;
  }
  
  .lineChart {
    width: 70%;
    margin: 3rem auto;
  }
  
  @media screen and (max-width: 600px) {
    .dashboard {
      grid-template-columns: 1fr;
    }
  
    .dashboardContainer {
      border-left: none;
    }
  
    .dashboardSummary > div > p {
      margin: 0;
    }
  
    .dashboardSummaryBox2 > a {
      padding: 0.5rem;
      margin: 1rem;
    }
  }