.sidebar {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
  }
  .logo{
    font-size: 1.3rem;
    font-weight: 600;
    color: #fe4c50;
    text-transform: uppercase;
    margin-left: 1rem;
    padding: 1rem 0rem;
  }
  .sidebar > a:first-child {
    padding: 0;
  }
  .sidebar > a > img {
    width: 100%;
  }
  
  .sidebar > a > img:hover {
    color: #fe4c50;
  }
  .sidebar a {
    text-decoration: none;
    color: #1e1e27;
    padding: 1rem;
    border: solid 1px #e5e5e5;
  }
  .sidebar a:hover {
    color: #fe4c50;
  }

  .sidebar a:link {
    color: #1e1e27;
  }
  .sidebar a > P {
    display: flex;
    align-items: center;
  }
  .sidebar a > p > svg {
    margin-right: 0.5rem;
  }
  
  .MuiTypography-root {
    background-color: #fff !important;
  }

  .MuiTreeItem-content {
    font-weight: 600;
  }
 
  .MuiTreeItem-content:hover {
    color: #fe4c50;
  }

  @media screen and  (max-width:600px) {
    .sidebar .logo{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  