footer {
    padding: 3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .details{
    display: flex;
  }

  .navLinks{
    text-decoration: none;
    color: #51545f;
    margin-right: 3rem;
    font-size: 1.1rem;
    font-weight: 400;
  }

  .navLinks:hover{
    color: #fe4c50;
  }

  .mediaDetails{
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
  }

  .mediaDetails > a{
    text-decoration: none;
    color: #51545f;
    margin-left: 2rem;
  }

  .mediaDetails > a:hover{
    color: #fe4c50;
  }

  .footerContainer{
    margin-top: 3rem;
  }
  
  .leftFooter {
    display: flex;
    align-items: center;
  }
  .appTitle{
    color: #51545f;
    font-size: 1rem;
    font-weight: 500;
  }
  .leftFooter > div {
    margin-right: 2rem;
  }
  .leftFooter > div > p {
    margin-top: 1.2rem;
    font-size: 0.8rem;
  }
  .leftFooter > img {
    width: 10vmax;
    margin: 1vmax;
    cursor: pointer;
    margin-left: 3.5rem;
  }
  
  .midFooter {
    margin-top: 2rem;
    color: #51545f;
    font-size: 0.9rem;
    font-weight: 400;
  }
  
  /* .midFooter > h1 {
    font-size: 4vmax;
    font-family: "Roboto";
    color: #eb4034;
  }
  .midFooter > p {
    max-width: 60%;
    margin: 1vmax auto;
  } */
  
  /* .rightFooter {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rightFooter > h4 {
    font-size: 1.4vmax;
    text-decoration: underline;
  }
  .rightFooter > a {
    text-decoration: none;
    font-size: 1.3vmax;
    color: black;
    transition: all 0.5s;
    margin: 0.5vmax;
  }
  
  .rightFooter > a:hover {
    color: #eb4034;
  } */
@media (max-width:500px){
  #footer{
    padding: 0.5rem;
  }
   #footer .leftFooter > h4{
      font-size: 0.4rem;
   }
   .midFooter > h1 {
    font-size: 1rem;
  }
  .midFooter > p {
    font-size: 0.8rem;
  }
}
@media (max-width:335px){
  #footer .leftFooter > h4{
     font-size: 0.35rem;
  }
}    