.aboutSection {
    height: 60.2vh;
    width: 100vw;
    max-width: 100%;
    background-color: white;
  }

  .aboutSectionContainer {
    margin-top: calc(6rem + 4vmax);
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media (max-width: 800px) {
    .aboutSection{
      margin-top: calc(9.5rem + 1.5vmax);
    }
  }