.ProductDetails {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    max-width: 100%;
    padding: 2rem 3vmax;
    box-sizing: border-box;
    display: flex;
    margin-top: calc(4rem + 2vmax);
  }
  
  .ProductDetails > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vmax 1vmax;
    box-sizing: border-box;
    border: 1px solid white;
  }
  
  .ProductDetails > div:last-child {
    align-items: flex-start;
  }
  
  .detailsBlock-1 > .productDetailsTitle {
    color: #282828;
    font-weight: 600;
    font-size: calc(1rem + 0.5vmax);
  }
  
  .detailsBlock-1 > p {
    color: #51545f;
    font-weight: 200;
    font-size: 0.7rem;
  }
  
  .detailsBlock-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    width: 97%;
    padding: 1vmax 0;
  }
  
  .detailsBlock-2-span {
    color: #51545f;
    font-size: calc(0.7rem + 0.2vmax);
  }

  .detailsBlock-2 > .productPrice {
    font-size: calc(0.8rem + 0.5vmax);
    color: #fe4c50;
    font-weight: 500;
    margin-right: 2rem;
  }
  
  .detailsBlock-3 {
    width: 97%;
  }
  
  .detailsBlock-3-1 {
    display: flex;
    align-items: center;
  }

  .quantityTitle {
    color: #232530;
    margin-right: 1.5rem;
    font-weight: 500;
    font-size: calc(0.8rem + 0.3vmax);
  }

  .quantityWrapper{
    display: flex;
    align-items: center;
  }
   
  .detailsBlock-3-1-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #e5e5e5;
    padding: 0rem 0.5rem;
    margin-right: 1vmax;
  }

  .detailsBlock-3-1-1 > button {
    border: none;
    cursor: pointer;
    color: #232530;
    font-weight: 800;
    font-size: calc(1rem + 0.5vmax);
  }
  
  .detailsBlock-3-1-1 > input {
    border: none;
    padding: 0.5vmax;
    width: 1vmax;
    text-align: center;
    outline: none;
    color: #232530;
    font-weight: 500;
  }

  .detailsBlock-3-1-1 > div {
    width: 2.5vmax;
    text-align: center;
    color: #232530;
    font-weight: 500;
    font-size: calc(1rem + 0.2vmax);
  }
  
  .detailsBlock-3-1 > button:last-child {
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    background-color:#fe4c50;
    font-weight: 500;
    border-radius: 2px;
    padding: 0.5rem 0.7rem;
    text-transform: uppercase;
    margin: 1vmax 0;
    outline: none;
    font-size: calc(0.8rem + 0.3vmax);
  }
  
  .detailsBlock-3-1 > button:last-child:hover {
    opacity: 80%;
  }
  
  .statusWrapper {
    display: flex;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 1vmax 0;
    color: #232530;
    margin-bottom: 1rem;
  }

  .statusTitle{
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .detailsBlock-4 {
    color: #232530;
    display: flex;
  }
  
  .detailsBlock-4 > p {
    color: #232530;
  }

  .descriptionTitle{
    margin-right: 1rem;
    font-weight: 500;
  }
  
  .submitReview {
    border: none;
    background-color: #fe4c50;
    font-weight: 500;
    border-radius: 2px;
    padding: 0.5rem 0.7rem;
    margin: 1vmax 0;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
    text-transform: uppercase;
    font-size: calc(0.8rem + 0.3vmax);
  }

  .submitReview:hover {
    opacity: 80%;
  }
  
  .submitDialog {
    display: flex;
    flex-direction: column;
  }

  .submitDialogTextArea {
    border: 1px solid rgba(0, 0, 0, 0.082);
    margin: 1vmax 0;
    outline: none;
    padding: 1rem;
    color: #232530;
  }
  
  .reviewsHeading {
    text-align: center;
    font-weight: 600;
    font-size: calc(1.2rem + 0.3vmax);
    border-bottom: 3px solid #fe4c50;
    width: max-content;
    padding: 0.5rem 1rem;
    margin: 0rem auto;
    color: #1e1e27;
  }

  .reviews {
    padding: 3vmax 4vmax;
    display: grid;
    overflow: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .reviewCard {
    flex: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid rgba(56, 56, 56, 0.116);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vmax;
    padding: 1rem;
  }
  .reviewCard > img {
    width: 5vmax;
    margin-bottom: 0.6rem;
  }
  .reviwerName {
    font-size: calc(0.8rem + 0.2vmax);
    color: #232530;
    margin-bottom: 0.5rem;
  }
  .reviewCardComment {
    font-size: calc(0.8rem + 0.2vmax);
    color: #232530;
  }
  
  .noReviews {
    font-size: calc(0.9rem + 0.2vmax);
    font-weight: 500;
    text-align: center;
    color: #232530;
  }

  .detailsBlock-2 > .reviewWrapper{
    display: flex;
    align-items: center;
  }

  @media (max-width: 850px) and (min-width:650px){
    .reviews{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (max-width: 800px) and (min-width:650px){
    .carouselDiv{
      margin-top: calc(7rem + 1.5vmax);
    }
    .detailsBlock-3-1{
      flex-direction: column;
      align-items: flex-start;
    } 
    .detailsBlock-2{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .detailsBlock-2 > .reviewWrapper{
      display: flex;
      align-items: center;
    }
    .detailsBlock-3-1-1{
      margin-top: 0.5rem;
    }
  }
  
  @media (max-width: 650px) {
    .ProductDetails {
      margin-top: calc(4rem + 3vmax);
      flex-direction: column;
      height: unset;
      padding-bottom: 0;
    }

    .productDetailWrapper{
      padding: 2rem;
    }

    .detailsBlock-2{
      width: 100%;
    }

    .detailsBlock-3{
      width: 100%;
    }

    .d-block{
      width: 100%;
    }

    .carouselWrapper{
      width: 100% !important;
    }

    .reviews{
      grid-template-columns: repeat( auto-fit, minmax(170px, 1fr) );
    }

    .detailsBlock-3-1 > button:last-child , .submitReview{
      padding: 0.5rem;
      font-size: 0.7rem;
    }
  }

  /* @media (max-width:450px) {
    .detailsBlock-3-1{
      flex-direction: column;
      align-items: flex-start;
    }
    .detailsBlock-3-1-1{
      margin-top: 0.5rem;
    }
  } */