.ProductDetails {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    max-width: 100%;
    padding: 2rem 3rem;
    box-sizing: border-box;
    display: flex;
    margin-top: 1rem;
  }
  
  .ProductDetails > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vmax;
    box-sizing: border-box;
    border: 1px solid white;
  }
  
  .ProductDetails > div:last-child {
    align-items: flex-start;
  }
  
  .CarouselImage {
    width: 20vmax;
  }
  
  .detailsBlock-1 > h2 {
    color: #282828;;
    font-weight: 600;
  }
  
  .detailsBlock-1 > p {
    color: #51545f;
    font-weight: 200;
    font-size: 0.7rem;
  }
  
  .detailsBlock-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    width: 80%;
    padding: 1vmax 0;
  }
  
  .detailsBlock-2-span {
    color: #51545f;
    font-size: 0.9rem;
  }

  .detailsBlock-2 > div {
    font-size: 1.5rem;
    color: #fe4c50;
    font-weight: 500;
    margin-right: 2rem;
  }
  
  .detailsBlock-3 {
    width: 80%;
  }
  
  .detailsBlock-3-1 {
    display: flex;
    align-items: center;
  }

  .quantityTitle {
    color: #232530;
    margin-right: 1.5rem;
    font-weight: 500;
  }
   
  .detailsBlock-3-1-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #e5e5e5;
    padding: 0rem 0.5rem;
  }

  .detailsBlock-3-1-1 > button {
    border: none;
    cursor: pointer;
    color: #232530;
    font-weight: 800;
    font-size: 1.5rem;
  }
  
  .detailsBlock-3-1-1 > input {
    border: none;
    padding: 0.5vmax;
    width: 1vmax;
    text-align: center;
    outline: none;
    color: #232530;
    font-weight: 500;
  }

  .detailsBlock-3-1-1 > div {
    width: 2.5rem;
    text-align: center;
    color: #232530;
    font-weight: 500;
    font-size: 1.2rem;
  }
  
  .detailsBlock-3-1 > button:last-child {
    border: none;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    background-color:#fe4c50;
    font-weight: 500;
    border-radius: 2px;
    padding: 0.5rem 0.7rem;
    text-transform: uppercase;
    margin: 1vmax;
    outline: none;
    margin-left: 1rem;
  }
  
  .detailsBlock-3-1 > button:last-child:hover {
    opacity: 80%;
  }
  
  .statusWrapper {
    display: flex;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 1vmax 0;
    color: #232530;
    margin-bottom: 1rem;
  }

  .statusTitle{
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .detailsBlock-4 {
    color: #232530;
    display: flex;
  }
  
  .detailsBlock-4 > p {
    color: #232530;
  }

  .descriptionTitle{
    margin-right: 1rem;
    font-weight: 500;
  }
  
  .submitReview {
    border: none;
    background-color: #fe4c50;
    font-weight: 500;
    border-radius: 2px;
    padding: 0.5rem 0.7rem;
    margin: 1vmax 0;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
    text-transform: uppercase;
  }

  .submitReview:hover {
    opacity: 80%;
  }
  
  .submitDialog {
    display: flex;
    flex-direction: column;
  }

  .submitDialogTextArea {
    border: 1px solid rgba(0, 0, 0, 0.082);
    margin: 1vmax 0;
    outline: none;
    padding: 1rem;
    color: #232530;
  }
  
  .reviewsHeading {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    border-bottom: 3px solid #fe4c50;
    width: 20vmax;
    padding: 0.5rem 0rem;
    margin: 0rem auto;
    color: #1e1e27;
  }

  .reviews {
    padding: 3rem;
    display: grid;
    overflow: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .reviewCard {
    flex: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid rgba(56, 56, 56, 0.116);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vmax;
    padding: 1rem;
  }
  .reviewCard > img {
    width: 5vmax;
    margin-bottom: 0.6rem;
  }
  .reviewCard > p {
    color: #232530;
  }
  .reviewCardComment {
    color: #232530;
  }
  
  .noReviews {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    color: #232530;
  }
  
  @media screen and (max-width: 600px) {
    .ProductDetails {
      flex-direction: column;
      height: unset;
    }
  
    .ProductDetails > div:last-child {
      align-items: center;
    }
  
    .detailsBlock-1 > h2 {
      font-size: 2.8vmax;
      text-align: center;
    }
  
    .detailsBlock-1 > p {
      text-align: center;
      font-size: 1vmax;
    }
  
    .detailsBlock-2 {
      justify-content: center;
    }
    .detailsBlock-2 > span {
      font-size: 1.5vmax;
    }
  
    .detailsBlock-3 > h1 {
      font: 700 3vmax "Franklin Gothic Medium";
      text-align: center;
    }
  
    .detailsBlock-3-1 {
      flex-direction: column;
    }
  
    .detailsBlock-3-1-1 {
      padding: 2vmax 0;
    }
    .detailsBlock-3-1-1 > button {
      padding: 1.2vmax;
      width: 4vmax;
    }
  
    .detailsBlock-3-1-1 > input {
      padding: 1.5vmax;
      width: 3vmax;
      font: 400 1.8vmax "Roboto";
    }
  
    .detailsBlock-3-1 > button:last-child {
      font: 500 1.7vmax "Roboto";
      padding: 1.5vmax;
      width: 20vmax;
      margin: 3vmax 0;
    }
  
    .detailsBlock-3 > p {
      padding: 2.5vmax 0;
      text-align: center;
      font: 400 2vmax "Roboto";
    }
  
    .detailsBlock-4 {
      font: 500 2.5vmax sans-serif;
    }
  
    .detailsBlock-4 > p {
      font: 300 1.8vmax sans-serif;
    }
  
    .submitReview {
      font: 500 1.7vmax "Roboto";
      padding: 1.5vmax;
      width: 20vmax;
      margin: 3vmax 0;
    }
  
    .reviewCard > p {
      font: 600 3vw "Roboto";
    }
    .reviewCardComment {
      font: 300 5vw cursive;
    }
  }