.productContainer{
   padding: 3vmax;
   display: grid;
   grid-template-columns: 1fr 4fr;
   margin-top: calc(2rem + 2.3vmax);
}
.productsHeading {
    text-align: center;
    font-weight: 600;
    font-size: calc(1rem + 0.5vmax);
    text-transform: uppercase;
    border-bottom: 3px solid #fe4c50;
    width: max-content;
    padding: 0.5rem 1vmax;
    margin: 0 auto 2vmax auto;
    color: #1e1e27;
  }
  .products {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2vmax;
    justify-content: center;
    min-height: 30vh;
  }
  .paginationBox {
    display: flex;
    justify-content: center;
    margin: 6vmax;
  }
  .pagination {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .page-item {
    background-color: rgb(255, 255, 255);
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.178);
    padding: 1vmax 1.5vmax;
    transition: all 0.3s;
    cursor: pointer;
  }
  .page-item:first-child {
    border-radius: 5px 0 0 5px;
  }
  .page-item:last-child {
    border-radius: 0 5px 5px 0;
  }
  .page-link {
    text-decoration: none;
    font: 300 0.7vmax "Roboto";
    color: rgb(80, 80, 80);
    transition: all 0.3s;
  }
  .page-item:hover {
    background-color: rgb(230, 230, 230);
  }
  .page-item:hover .page-link {
    color: rgb(0, 0, 0);
  }
  .pageItemActive {
    background-color: tomato;
  }
  .pageLinkActive {
    color: white;
    color: black;
  }
  .categoryBox{
    padding: 0%;
    margin-top: 0.5rem;
  }
  .sliderTitle{
    color: #fe4c50;
    font-weight: 600;
    font-size: calc(0.9rem + 0.3vmax);
  }
  .sliderWrapper{
    padding: 0.5rem;
  }
  .category-link{
    list-style: none;
    color: #1e1e27;
    font-weight: 600;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: solid 1px #e5e5e5;
  }
  .category-link:hover{
    color: white;
    background-color: #fe4c50;
  }
  .category-link.active{
    color: white;
    background-color: #fe4c50;
  }
  .category-link:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .category-link:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .filterBox > fieldset{
    border: none;
  }
  .filterButton{
    background-color: #e5e5e5;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    left: 0;
  }
  @media screen and (max-width: 800px) {
    .productContainer{
      margin-top: calc(6rem + 2.3vmax);
    }
  }
  @media (max-width:600px) {
    .productContainer{
      display: flex;
      min-height: 90vh;
      padding: 3vmax 1vmax;
    }
    .products{
      padding: 0;
    }
    .productWrapper{
      width: 100%;
    }
    .filterTitleWrapper{
      display: flex;
    }
    .filterButton{
      position: absolute;
      margin-top: 1vmax;
      padding: 0.5rem 3vmax 0.5rem 2vmax;
    }
    .filterBox{
      width: 0;
      overflow: hidden;
      position: absolute;
      margin-top: -3vmax;
      left: 0;
      transition: all 0.5s ease-in-out;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      z-index: 99;
    }
    .filterTitleWrapper{
      display: flex;
    }
    .showFilterBox{
      width: calc(12rem + 6vmax);
      padding: 2vmax;
    }
    .crossIcon{
      margin-left: auto;
    }
  }