.searchBox {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
}

.searchBox > input[type="text"] {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  border: none;
  color: rgba(0, 0, 0, 0.637);
  padding: 1rem 1.8rem;
  width: 55%;
  outline: none;
  box-sizing: border-box;
  height: 2.2rem;
  font-size: 0.9rem;
}

.searchBox > input[type="submit"] {
  height: 2.2rem;
  border-radius: 0%;
  background-color: #fe4c50;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  cursor: pointer;
  color: white;
  transition: all 0.5s; 
  font-size: 0.9rem;
}

@media screen and (max-width: 600px) {
  .searchBox > input[type="text"] {
    width: 100%;
    height: 10%;
  }

  .searchBox > input[type="submit"] {
    height: 10%;
    width: 30%;
    font: 300 4vw "Roboto";
  }
}