.forgotPasswordContainer {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  position: fixed;
  top: 0%;
  left: 0;
}
  
  .forgotPasswordBox {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 30vw;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .forgotPasswordHeading {
    text-align: center;
    text-transform: uppercase;
    color: #1e1e27;
    font-weight: 500;
    padding: 1vmax;
    border-bottom: 2px solid #fe4c50;
    width: 60%;
    margin: 1rem auto;
  }
  
  .forgotPasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
  }
  
  .forgotPasswordForm > div {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .forgotPasswordForm > div > input {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    outline: none;
  }
  
  .forgotPasswordForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: #1e1e27;
  }
  
  .forgotPasswordBtn {
    border: none;
    background-color:#fe4c50;
    color: white;
    font-weight: 500;
    width: auto;
    padding: 0.5rem 2rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.5s;
    outline: none;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 2px;
  }
  
  .forgotPasswordBtn:hover {
    opacity: 80%;
  }
  
  @media screen and (max-width: 600px) {
    .forgotPasswordContainer {
      background-color: white;
    }
    .forgotPasswordBox {
      width: 100vw;
      height: 95vh;
    }
  
    .forgotPasswordForm {
      padding: 5vmax;
    }
  
    .forgotPasswordForm > div > input {
      padding: 2.5vmax 5vmax;
      font: 300 1.7vmax cursive;
    }
  
    .forgotPasswordForm > div > svg {
      font-size: 2.8vmax;
    }
  
    .forgotPasswordBtn {
      font: 300 1.9vmax "Roboto";
      padding: 1.8vmax;
    }
  }