.LoginSignUpContainer {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  position: fixed;
  top: 0%;
  left: 0;
}
  
  .LoginSignUpBox {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: calc(17rem + 10vmax);
    height: calc(20rem + 15vmax);
    box-sizing: border-box;
    overflow: hidden;
  }

  .login_signUp_toggle {
    display: flex;
  }

  .login_signUp_toggle > div {
    color: #1e1e27;
    font-weight: 500;
    padding: 1vmax 0rem;
    transition: all 0.5s;
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 100%;
    margin-bottom: 0rem;
  }

  .login_signUp_toggle > div:hover {
    color: #fe4c50;
  }
  
  .LoginSignUpBox > div > button {
    background-color: #fe4c50;
    height: 2px;
    width: 50%;
    border: none;
    transition: all 0.5s;
  }
  
  .loginForm,
  .signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vmax 2.5vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
  }
  
  .signUpForm {
    transform: translateY(-100%) translateX(-100vmax);
  }
  
  .loginForm > div,
  .signUpForm > div {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .loginForm > div > input,
  .signUpForm > div > input {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    outline: none;
    font-size: calc(0.8rem + 0.2vmax);
  }
  
  .loginForm > div > svg,
  .signUpForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.7vmax;
    color: #1e1e27;
  }
  
  .loginForm > a {
    color:#1e1e27;
    font-size:0.8rem;
    text-decoration: none;
    align-self: flex-end;
    transition: all 0.5s;
    margin-top: -0.7rem;
    margin-bottom: 0.5rem;
  }
  
  .loginForm > a:hover {
    color: #51545f;
  }
  
  #registerImage > img {
    width: calc(1.6rem + 0.6vmax);
    height: calc(1.5rem + 0.5vmax);
    border-radius: 100%;
    margin-right: 2vmax;
  }

  #registerImage > input {
    display: flex;
    padding: 0%;
  }
  
  #registerImage > input::file-selector-button {
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 6vh;
    border: none;
    margin: 0%;
    color: #1e1e27;
    background-color: rgb(255, 255, 255);
  }
  
  #registerImage > input::file-selector-button:hover {
    background-color: #e5e5e5;
  }
  
  .loginBtn,
  .signUpBtn {
    border: none;
    background-color:#fe4c50;
    color: white;
    font-weight: 500;
    width: auto;
    padding: 0.5rem 2vmax;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.5s;
    outline: none;
    margin-top: 1.5vmax;
    margin-bottom: 1vmax;
    border-radius: 2px;
  }
  
  .loginBtn:hover,
  .signUpBtn:hover {
    opacity: 80%;
  }
  
  .shiftToLeft {
    transform: translateX(-100%);
  }
  .shiftToNeutral {
    transform: translateX(0%);
  }
  
  .shiftToNeutralForm {
    transform: translateX(0%) translateY(-100%);
  }
  
  .shiftToRight {
    transform: translateX(100%);
  }

  @media screen and (max-width:500px) {
    .LoginSignUpBox{
      height: calc(20rem + 12vmax);
      width: calc(15rem + 7vmax);
    }
    .login_signUp_toggle {
      margin-bottom: -1vmax;
    }
  }
  
  /* @media screen and (min-width:600px) and (max-width: 800px) {
    .LoginSignUpBox{
      width: 40%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .LoginSignUpContainer {
      background-color: white;
    }
    .login_signUp_toggle {
      height: 5vmax;
    }
    .login_signUp_toggle > p {
      font: 300 1.5vmax "Roboto";
    }
  
    .loginForm,
    .signUpForm {
      padding: 5vmax;
    }
  
    .loginForm > div > input,
    .signUpForm > div > input {
      padding: 2.5vmax 5vmax;
      font: 300 2vmax "Roboto";
    }
  
    .loginForm > div > svg,
    .signUpForm > div > svg {
      font-size: 3.2vmax;
    }
  
    .loginForm > a {
      font: 500 2vmax "Gill Sans";
    }
  
    #registerImage > img {
      width: 6vmax;
      border-radius: 100%;
    }
  
    #registerImage > input::file-selector-button {
      height: 7vh;
      font: 400 2vmax "Roboto";
    }
  
    .loginBtn,
    .signUpBtn {
      font: 300 2vmax "Roboto";
      padding: 1.8vmax;
    }
  } */