.profileContainer {
    display: flex;
    height: 70vh;
    padding: 0rem 3rem;
    background-color: white;
  }
  
  .profileContainer > .profile_1 {
    display: flex;
    height: 70vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  
  .profileTitle {
    margin: 6.3rem auto 2rem auto;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #1e1e27;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 3px solid #fe4c50;
    width: 15%;
  }
  
  .profileContainer > div:first-child > img {
    margin-top: 2rem;
    width: 15rem;
    border-radius: 100%;
    height: 15rem;
  }
  
  .profileContainer > div:first-child > a {
    border: none;
    background-color: #fe4c50;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 0.3rem 1.5rem;
    text-align: center;
    transition: all 0.5s;
    margin-top: 2.5rem;
  }
  
  .profileContainer > div:first-child > a:hover {
    opacity: 80%;
  }
 
  .userDetails{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    padding: 2rem;
  }
  
  .userDetails > div > h5{
    color: #1e1e27;
    margin-bottom: 1rem;
  }
  
  .userDetails > div > p{
    color: 51545f;
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .profileButtonDetails{
    display: flex;
  }

  .profileLink{
    margin-bottom: 1rem;
    text-decoration: none;
    color: #1e1e27;
    font-weight: 500;
  }

  .profileLink:hover{
    color: #fe4c50;
  }
  /* .profileContainer > div:last-child {
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 3vmax;
    box-sizing: border-box;
  }
  
  .profileContainer > div:last-child > div > h4 {
    color: black;
  }
  
  .profileContainer > div:last-child > div > p {
    color: rgba(0, 0, 0, 0.418);
    font: 400 1vmax cursive;
    margin: 0.2vmax;
  }
  
  .profileContainer > div:last-child > div:last-child {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  
  .profileContainer > div:last-child > div:last-child > a {
    border: none;
    background-color: rgb(68, 68, 68);
    font: 400 1vmax "Roboto";
    color: white;
    text-decoration: none;
    padding: 0.5vmax;
    text-align: center;
    transition: all 0.5s;
    margin: 1vmax 0;
  }
  
  .profileContainer > div:last-child > div:last-child > a:hover {
    background-color: rgb(31, 31, 31);
  } */

  @media screen and (min-width: 645px) and (max-width:900px) {
  
    .profileContainer > div:first-child > h1 {
      font: 500 3.2vmax "Roboto";
      transform: translateY(-2vmax);
    }
    .profileContainer > div:first-child > img {
      width: 68%;
    }
  
    .profileContainer > div:first-child > a {
      font: 400 1.7vmax "Roboto";
      padding: 1vmax;
    }
  
    .profileContainer > div:last-child {
      text-align: center;
      align-items: center;
    }
  
    .profileContainer > div:last-child > div > h4 {
      font: 400 2.5vmax "Roboto";
    }
  
    .profileContainer > div:last-child > div > p {
      font: 400 2vmax cursive;
      margin: 0.5vmax 0;
    }
  
    .profileContainer > div:last-child > div:last-child > a {
      font: 400 1.8vmax "Roboto";
      padding: 1vmax;
      margin: 2vmax 0;
    }
  }
  
  @media screen and (max-width: 645px) {
    .profileContainer {
      flex-direction: column;
    }
   
    .profileContainer > div:first-child > h1 {
      font: 500 3.2vmax "Roboto";
      transform: translateY(-2vmax);
    }
  
    .profileContainer > div:first-child > a {
      font: 400 1.7vmax "Roboto";
      padding: 1vmax;
    }
  
    .profileContainer > div:last-child {
      text-align: center;
      align-items: center;
    }
   
    .profileContainer > div:last-child > div > h4 {
      font: 400 2.5vmax "Roboto";
    }
  
    .profileContainer > div:last-child > div > p {
      font: 400 2vmax cursive;
      margin: 0.5vmax 0;
    }
  
    .profileContainer > div:last-child > div:last-child > a {
      font: 400 1.8vmax "Roboto";
      padding: 1vmax;
      margin: 2vmax 0;
    }
    .profileContainer .profile_1 {
      margin-top:3rem;
    }
  }

  @media screen and (max-width: 500px) {

    .profileContainer > div:first-child > img {
      width: 60%;
    }
  }

  @media screen and (max-width: 350px) {

    .profileContainer > div:first-child > img {
      width: 70%;
    }
  }