.emptyCart {
    margin: auto;
    text-align: center;
    padding: 10vmax;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .emptyCart > svg {
    font-size: 5vmax;
    color: #fe4c50;
    margin-bottom: 0.5rem;
  }
  .emptyCart > p {
    font-size: 2vmax;
  }
  .emptyCart > a {
    background-color: #fe4c50;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 1vmax 2vmax;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    margin-top: 1rem;
    border-radius: 2px;
  }
  
  .cartPage {
    margin-top: 4.3rem;
    min-height: 70vh;
    padding: 3rem;
  }
  
  .cartHeader {
    background-color: #fe4c50;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    color: white;
    font-weight: 500;
    padding: 0.8rem 1rem;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
  }

  .cartHeader > p {
    margin-top: auto;
    margin-bottom: auto;
  }

  .cartHeader > p:last-child {
    text-align: end;
  }

  .cardInputWrapper{
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .cartContainer {
    width: 100%;
    /* margin: auto; */
    display: grid;
    padding: 0.8rem 1rem;
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .cartInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #e5e5e5;
    padding: 0rem 0.5rem;
    height: 3rem;
    width: 7rem;
  }
  
  .cartInput > button {
    border: none;
    cursor: pointer;
    color: #232530;
    font-weight: 800;
    font-size: 1.5rem;
  }
  
  .cartInput > input {
    border: none;
    padding: 0.5vmax;
    width: 1vmax;
    text-align: center;
    outline: none;
    color: #232530;
    font-weight: 500;
  }

  .cartInput > div {
    width: 2.5rem;
    text-align: center;
    color: #232530;
    font-weight: 500;
    font-size: 1.2rem;
  }
  
  .cartSubtotal {
    display: flex;
    padding: 0.5vmax;
    align-items: center;
    box-sizing: border-box;
    justify-content: flex-end;
    color: #232530;
    font-weight: 500;
  }
  
  .cartGrossProfit {
    display: grid;
    grid-template-columns: 4fr 2fr;
  }
  
  .cartGrossProfitBox {
    margin-left: -0.5rem;
    border-top: 2px solid #fe4c50;
    box-sizing: border-box;
    padding: 1rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
  }
  
  .checkOutBtn {
    display: flex;
    justify-content: flex-end;
  }

  .checkOutBtn > button {
    background-color:#fe4c50;
    color: white;
    border: none;
    font-weight: 500;
    cursor: pointer;
    border-radius: 2px;
    padding: 0.5rem 0.7rem;
    text-transform: uppercase;
    margin: 1vmax;
  }

  .checkOutBtn > button:hover{
    opacity: 80%;
  }
  
  @media screen and (max-width: 600px) {
    .cartPage {
      padding: 0;
      min-height: 60vh;
    }
  
    .cartHeader {
      width: 100%;
      font: 300 1.7vmax "Roboto";
      grid-template-columns: 3fr 1fr 1fr;
    }
  
    .cartContainer {
      width: 100%;
      grid-template-columns: 3fr 1fr 1fr;
    }
  
    .cartInput {
      height: 20vmax;
    }
  
    .cartInput > button {
      padding: 1.5vmax;
    }
  
    .cartInput > input {
      width: 2vmax;
      padding: 1.5vmax;
      font: 400 1.8vmax "Roboto";
    }
  
    .cartSubtotal {
      padding: 1.5vmax;
      height: 20vmax;
      font: 300 2vmax "Roboto";
    }
  
    .cartGrossProfit {
      display: grid;
      grid-template-columns: 0fr 2fr;
    }
  
    .cartGrossProfitBox {
      padding: 2vmax;
      font: 300 2vmax "Roboto";
    }
  
    .checkOutBtn > button {
      padding: 2vmax 4vmax;
      width: 100%;
      font: 300 2vmax "Roboto";
    }
  }