.emptyCart {
    margin: auto;
    text-align: center;
    padding: 10vmax;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .emptyCart > svg {
    font-size: 5vmax;
    color: #fe4c50;
    margin-bottom: 0.5rem;
  }
  .emptyCart > p {
    font-size: 2vmax;
  }
  .emptyCart > a {
    background-color: #fe4c50;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 1vmax 2vmax;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    margin-top: 1rem;
    border-radius: 2px;
  }
  
  .cartPage {
    margin-top: calc(2.5rem + 2vmax);
    min-height: 70vh;
    padding: 3vmax;
  }
  
  .cartHeader {
    background-color: #fe4c50;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    color: white;
    font-weight: 500;
    padding: 0.8rem 1rem;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
  }

  .cartHeader > p {
    margin-top: auto;
    margin-bottom: auto;
  }

  .cartHeader > p:last-child {
    text-align: end;
  }

  .cardInputWrapper{
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .cartContainer {
    width: 100%;
    display: grid;
    padding: 0.8rem 1vmax;
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .cartInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #e5e5e5;
    padding: 0rem 0.5rem;
    height: calc(1.5rem + 1.5vmax);
    width: calc(4rem + 2vmax);
  }
  
  .cartInput > button {
    border: none;
    cursor: pointer;
    color: #232530;
    font-weight: 800;
    font-size: calc(0.9rem + 0.6vmax);
  }
  
  .cartInput > input {
    border: none;
    padding: 0.5vmax;
    width: 1vmax;
    text-align: center;
    outline: none;
    color: #232530;
    font-weight: 500;
  }

  .cartInput > div {
    width: calc(1.5rem + 1vmax);
    text-align: center;
    color: #232530;
    font-weight: 500;
    font-size: calc(0.9rem + 0.3vmax);
  }
  
  .cartSubtotal {
    display: flex;
    padding: 0.5vmax;
    align-items: center;
    box-sizing: border-box;
    justify-content: flex-end;
    color: #232530;
    font-weight: 500;
    margin-bottom: 0rem;
  }
  
  .cartGrossProfit {
    display: grid;
    grid-template-columns: 4fr 2fr;
  }
  
  .cartGrossProfitBox {
    border-top: 2px solid #fe4c50;
    box-sizing: border-box;
    padding: 1rem 1.5vmax;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
  }
  
  .checkOutBtn {
    display: flex;
    justify-content: flex-end;
  }

  .checkOutBtn > button {
    background-color:#fe4c50;
    color: white;
    border: none;
    font-weight: 500;
    cursor: pointer;
    border-radius: 2px;
    padding: 0.5rem 0.7rem;
    text-transform: uppercase;
    margin: 1vmax;
    font-size: calc(0.8rem + 0.2vmax);
  }

  .checkOutBtn > button:hover{
    opacity: 80%;
  }

  @media (max-width: 800px) {
    .cartPage{
      margin-top: calc(6.5rem + 1vmax);
    }
  }
  
  @media screen and (max-width: 600px) {
    .cartHeader {
      width: 100%;
      grid-template-columns: 3fr 1fr 1fr;
      padding: 0.5rem 0.8rem;
    }
    .cartHeader > p{
      font-size: calc(0.8rem + 0.3vmax);
    }
    .cartContainer {
      width: 100%;
      grid-template-columns: 3fr 1fr 1fr;
    }
    .cartGrossProfit {
      grid-template-columns: 3fr 2fr;
    }
    .cartSubtotal {
      font-size: calc(0.8rem + 0.3vmax);
    }
  }
  @media (max-width:400px) {
    .cartHeader {
      grid-template-columns: 2fr 1fr 1fr;
    }
    .cartContainer {
      grid-template-columns: 2fr 1fr 1fr;
    }
    .cartGrossProfit {
      grid-template-columns: 2fr 2fr;
    }
  }