.confirmOrderPage {
    height: auto;
    background-color: white;
    display: grid;
    grid-template-columns: 5fr 3fr;
    padding: 3vmax 3vmax;
  }
  
  .confirmOrderPage > div:last-child {
    border-left: 2px solid #e5e5e5;
  }
  
  .confirmshippingArea {
    padding: 2vmax;
    padding-bottom: 0%;
  }
  
  .confirmshippingArea > p {
    color: #1e1e27;
    font-weight: 600;  
    font-size: calc(0.9rem + 0.4vmax);
    width: max-content;
    padding: 0.5rem 1vmax;
    text-transform: uppercase;
    border-bottom: 3px solid #fe4c50;
  }
  
  .confirmshippingAreaBox,
  .confirmCartItemsContainer {
    margin: 2vmax;
  }
  
  .confirmshippingAreaBox > div {
    display: flex;
    margin: 1vmax 0;
  }
  
  .confirmshippingAreaBox > div > p {
    color: #232530;
    font-weight: 500;
    font-size: calc(0.8rem + 0.2vmax);
  }
  .confirmshippingAreaBox > div > span {
    margin: 0 1vmax;
    color: #51545f;
    font-size: calc(0.8rem + 0.2vmax);
  }
  
  .confirmCartItems > p {
    color: #1e1e27;
    font-weight: 600;
    font-size: calc(0.9rem + 0.4vmax);
    width: max-content;
    padding: 0.5rem 1vmax;
    text-transform: uppercase;
    border-bottom: 3px solid #fe4c50;
  }
  
  .confirmCartItems {
    padding: 0 2vmax;
  }
  
  .confirmCartItemsContainer {
    max-height: 20vmax;
    overflow-y: auto;
  }
  
  .confirmCartItemsContainer > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
  }
  
  .itemPhotoWrapper > img {
    width: 4vmax;
    height: 3.5vmax;
    margin-right: 1vmax;
  }
  
  .itemPhotoWrapper > a {
    color: #1e1e27;
    width: 60%;
    text-decoration: none;
  }
  
  .confirmCartItemsContainer > div > span {
    color: #1e1e27;
    font-weight: 500;
  }
  
  .orderSummary {
    padding: 3vmax 4vmax;
  }
  
  .orderSummary > p {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 3px solid #fe4c50;
    font-size: calc(0.9rem + 0.4vmax);
    color: #1e1e27;
    font-weight: 600;
    width: max-content;
    padding: 0.5rem 1vmax;
    margin: auto auto 2vmax auto;
    box-sizing: border-box;
  }
  
  .orderSummary > div > div {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }

  .orderSummary > div > div > div{
    color: #1e1e27;
    font-weight: 500;
    font-size: calc(0.8rem + 0.2vmax);
  }

  .orderSummary > div > div > span {
    color: #51545f;
    font-size: calc(0.8rem + 0.2vmax);
  }
  
  .orderSummaryTotal {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #e5e5e5;
    padding: 1.5vmax 0;
  }

  .orderSummaryButton{
    display: flex;
    justify-content: center;
  }
  
  .orderSummaryButton > button {
    border: none;
    background-color:#fe4c50;
    color: white;
    font-size: calc(0.7rem + 0.2vmax);
    font-weight: 500;
    width: auto;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.5s;
    outline: none;
    border-radius: 2px;
  }
  
  .orderSummary > button:hover {
    opacity: 80%;
  }

  @media (max-width:600px) {
    .confirmOrderPage{
      display: flex;
      flex-direction: column;
    }
    .confirmshippingArea, .orderSummary{
      padding: 2vmax 0;
    }
    .confirmCartItems{
      padding: 0;
    }
    .confirmOrderPage > div:last-child {
      border: none;
    }
    .confirmshippingArea > p,  .confirmCartItems > p{
      margin: auto;
    }
  } 