.orderSuccess {
    margin: auto;
    text-align: center;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .orderSuccess > svg {
    font-size: 7vmax;
    color: #fe4c50;
  }
  .orderSuccess > p {
    color: #1e1e27;
    font-size: 2vmax;
    font-weight: 500;
  }
  .orderSuccess > a {
    background-color: #fe4c50;
    color: white;
    border: none;
    padding: 1vmax 2vmax;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    margin: 2vmax;
    border-radius: 2px;
  }
  .orderSuccess > a:hover{
    opacity: 80%;
  }
  @media screen and (max-width: 600px) {
    .orderSuccess > a {
      padding: 3vw 6vw;
      font: 400 4vw "Roboto";
      margin: 2vmax;
    }
  
    .orderSuccess > svg {
      font-size: 20vw;
    }
    .orderSuccess > p {
      margin: 2vmax;
      font-size: 5vw;
    }
  }