.shippingContainer {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  .shippingBox {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 30vw;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .shippingHeading {
    text-align: center;
    text-transform: uppercase;
    color: #1e1e27;
    font-weight: 500;
    padding: 1vmax;
    border-bottom: 2px solid #fe4c50;
    width: 60%;
    margin: 1rem auto;
  }
  
  .shippingForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
  }
  
  .shippingForm > div {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .shippingForm > div > input,
  .shippingForm > div > select {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    outline: none;
  }
  
  .shippingForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: #1e1e27;
  }
  
  .shippingBtn {
    border: none;
    background-color:#fe4c50;
    color: white;
    font-weight: 500;
    width: auto;
    padding: 0.5rem 2rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.5s;
    outline: none;
    margin-top: 1.5rem;
    border-radius: 2px;
  }
  
  .shippingBtn:hover {
    opacity: 80%;
  }
  
  @media screen and (max-width: 600px) {
    .shippingBox {
      width: 100vw;
      height: 160vh;
    }
  
    .shippingHeading {
      font: 400 6vw "Roboto";
      padding: 5vw;
    }
  
    .shippingForm {
      padding: 11vw;
    }
  
    .shippingForm > div > input,
    .shippingForm > div > select {
      padding: 4vw 10vw;
      font: 300 4vw cursive;
    }
  
    .shippingForm > div > svg {
      font-size: 6vw;
      transform: translateX(3vw);
    }
  
    .shippingBtn {
      font: 300 4vw "Roboto";
      padding: 4vw;
    }
    .shippingForm{
      margin-top: 0rem;
   }
   footer{
    margin-top: 0rem;
   }
  }

  @media screen and (min-width: 600px) and (max-width:950px) {
    .shippingBox{
      width: 50%;
    }
    .shippingForm{
       width: 80%;
    }
  }
  @media screen and (max-width:350px) {
    .shippingBox {
      width: 100vw;
      height: 110vh;
    }
    .shippingForm {
      justify-content: flex-start;
    }
    .shippingForm > div > input,
    .shippingForm > div > select {
      padding: 3vw 10vw;
      font: 300 4vw cursive;
      margin: 1rem 0rem ;
    }
  }