  .carouselDiv{
    height: auto;
    width: auto;
    margin: calc(4rem + 2.3vmax) 3vmax 2vmax 3vmax;
  }
  
  .homeHeading {
    text-align: center;
    font-weight: 600;
    font-size: calc(1rem + 0.5vmax);
    border-bottom: 3px solid #fe4c50;
    width: max-content;
    padding: 0.5rem calc(0.7rem + 0.3vmax);
    margin: 0 auto 2vmax auto;
    color: #1e1e27;
  }
  
  .container {
    display: flex;
    margin: 2vmax auto 3vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
  }
  
  .productCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 1vmax;
    transition: all 0.5s;
  }
  
  .productCard > img {
    width: calc(6rem + 8vmax);
    height: calc(4.5rem + 8vmax);
    padding: 1vmax;
  }
  
  .productCard > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #1e1e27;
    margin-top: 0.7vmax;
  }
  
  .productCardSpan {
    margin: 0.5vmax;
    font-weight: 500;
  }
  
  .productCard > p {
    font-size: calc(0.9rem + 0.3vmax);
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
    color: #1e1e27;
    font-weight: 500;
  }
  
  .productCard > span {
    margin: 0.5vmax;
    color: #fe4c50;
    font-size: calc(0.8em + 0.4vmax);
    font-weight: 500;
  }
  
  .productCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
    transform: translateY(-1vmax);
  }

  @media (max-width: 800px) {
    .carouselDiv{
      margin-top: calc(7.5rem + 1.5vmax);
    }
  }
